@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@keyframes marquee-infinite {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-wrapper {
  white-space: nowrap;
  display: flex;
  gap: 40px;
  animation: marquee-infinite 50s linear infinite;
}

.hide-swiper-dots .swiper-pagination {
  display: none;
}

.sha-one {
  box-shadow: rgba(132, 132, 133, 0.15) 0px 2px 5px 0px, rgba(173, 166, 166, 0.05) 0px 1px 1px 0px;
}
